$fade-animation-duration: 250ms;
$fade-animation-timing-function: ease;

$color-main: #fff;
$color-background: #000;

$toolbar-padding: 8px;
$icon-button-padding: 8px;
$icon-size: 32px;

$carousel-padding: 16px;
$carousel-spacing: 30%;

$swipe-animation-duration: 500ms;
$swipe-animation-timing-function: ease-out;

.yarl_ {
    &_portal {
        position: fixed;
        inset: 0;
        z-index: 9999;
        overflow: hidden;
        opacity: 0;
        transition: opacity var(--yarl__fade_animation_duration, $fade-animation-duration) $fade-animation-timing-function;

        &_open {
            opacity: 1;
        }
    }

    &_container, &_carousel, &_slide {
        user-select: none;
        touch-action: pan-y;
    }

    &_container {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        color: $color-main;
        background-color: $color-background;
        outline: 0;
    }

    &_carousel {
        position: absolute;
        overflow: hidden;
        inset: 0;
    }

    &_flex_center {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    &_slide {
        position: absolute;
        overflow: hidden;
        inset: 0;

        padding: var(--yarl__carousel_padding, $carousel-padding);

        [dir="rtl"] & {
            --yarl__direction: -1;
        }

        transform: translate3d(calc(var(--yarl__slide_offset, 0) * (100% + var(--yarl__carousel_spacing, $carousel-spacing)) * var(--yarl__direction, 1)), 0, 0);
        transition: transform var(--yarl__swipe_animation_duration, $swipe-animation-duration) $swipe-animation-timing-function;

        .yarl__container_swipe & {
            transform: translate3d(calc(var(--yarl__slide_offset, 0) * (100% + var(--yarl__carousel_spacing, $carousel-spacing)) * var(--yarl__direction, 1)), 0, 0) translate3d(var(--yarl__swipe_offset, 0px), 0, 0);
            transition: unset;
        }

        &_image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            user-select: none;
            -webkit-user-select: none;
            -webkit-touch-callout: none;

            // workaround occasional image flickering in desktop Safari
            transform: translate3d(0, 0, 0);

            &_cover {
                object-fit: cover;
            }

            &_loading {
                opacity: 0;
            }
        }

        &_placeholder {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            line-height: 0;
        }

        &_loading {
            color: rgba($color-main, .8);
            animation: yarl__delayed_fadein 1s linear;

            & line {
                animation: yarl__stroke_opacity 1s linear infinite;
            }

            @for $i from 1 through 8 {
                & line:nth-of-type(#{$i}) {
                    animation-delay: #{$i * 0.125 - 2}s;
                }
            }
        }

        &_error {
            width: 48px;
            height: 48px;
            color: red;
        }
    }

    @media (prefers-reduced-motion) {
        &_portal, &_slide {
            transition: unset;
        }

        &_slide_loading, &_slide_loading line {
            animation: unset;
        }
    }

    &_toolbar {
        position: absolute;
        inset: 0 0 auto auto;
        display: flex;
        justify-content: flex-end;
        padding: $toolbar-padding;
        gap: $toolbar-padding;

        [dir="rtl"] & {
            inset: 0 auto auto 0;
        }
    }

    &_icon {
        width: $icon-size;
        height: $icon-size;
    }

    &_button {
        appearance: none;
        background-color: transparent;
        cursor: pointer;
        border: 0;
        margin: 0;
        outline: none;
        line-height: 0;
        padding: $icon-button-padding;
        color: rgba($color-main, .8);
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .8));
        -webkit-tap-highlight-color: transparent;

        &:focus {
            color: $color-main;
        }

        &:focus:not(:focus-visible) {
            color: rgba($color-main, .8);
        }

        &:focus-visible {
            color: $color-main;
        }

        @media (hover: hover) {
            &:hover, &:focus:hover, &:focus-visible:hover {
                color: $color-main;
            }
        }

        &:disabled {
            color: rgba($color-main, .4);
            cursor: default;
        }
    }

    &_navigation {
        &_prev, &_next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: $toolbar-padding + 2 * $icon-button-padding $toolbar-padding + $icon-button-padding;
        }

        &_prev {
            left: 0;
        }

        [dir="rtl"] &_prev {
            left: unset;
            right: 0;
            transform: translateY(-50%) rotate(180deg);
        }

        &_next {
            right: 0;
        }

        [dir="rtl"] &_next {
            left: 0;
            right: unset;
            transform: translateY(-50%) rotate(180deg);
        }
    }

    &_no_scroll {
        height: 100%;
        overflow: hidden;
    }

    &_pad_scrollbar {
        padding-right: var(--yarl__scrollbar_padding, 17px);
    }

    [dir="rtl"] &_pad_scrollbar {
        padding-right: unset;
        padding-left: var(--yarl__scrollbar_padding, 17px);
    }
}

@keyframes yarl__delayed_fadein {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes yarl__stroke_opacity {
    from {
        stroke-opacity: 1;
    }
    to {
        stroke-opacity: 0.125;
    }
}
