name: Release

on:
  push:
    branches: [main, next]

concurrency:
  group: release

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    timeout-minutes: 30

    if: github.repository == 'igordanchenko/yet-another-react-lightbox'

    permissions:
      contents: write
      id-token: write
      issues: write
      discussions: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
          package-manager-cache: false

      - name: Install dependencies
        run: npm ci

      - name: Install semantic-release extra plugins
        run: npm i -D @semantic-release/changelog @semantic-release/github

      - name: Build, Test, Lint
        run: npm run ci

      - name: Verify the integrity of installed dependencies
        run: npm audit signatures

      - name: Cleanup
        run: npm pkg delete scripts devDependencies

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
